html {
    background-color: green !important;
}

.ms-container {
    display: inline-block;
    background: #BDBDBD;
    border-bottom: solid 2px #707070;
    border-right: solid 2px #707070;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
    border-radius: 3px;
    padding: 10px;
    margin-left: 20px;
}

.ms-table {
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    border-top: solid 2px #7b7b7b;
    border-left: solid 2px #7b7b7b;
    border-radius: 2px;
    display: table;
}

.ms-board {
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    border-top: solid 2px #7b7b7b;
    border-left: solid 2px #7b7b7b;
    margin-bottom: 10px;
    border-radius: 2px;
    height: 50px;
}

.ms-cell {
    width: 20px;
    height: 20px;
    display: table-cell;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
    cursor: default;
    font-weight: bold;
    font-family: 'Arial Black','Arial',sans-serif;
}

.ms-row {
}

.closed {
    border-bottom: solid 2px #7b7b7b;
    border-right: solid 2px #7b7b7b;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
}

.open {
    border-left: solid 1px #7b7b7b;
    border-top: solid 1px #7b7b7b;
    border-bottom: 0;
    border-right: 0;
}

.mine {
    background-repeat: no-repeat;
    background-image: url('minesprite.png');
    background-position: -19px 0;
}

.mine-wrong {
    background-repeat: no-repeat;
    background-image: url('minesprite.png');
    background-position: -38px 0;
}

.mine-explosion {
    background-repeat: no-repeat;
    background-image: url('minesprite.png');
    background-position: -19px 0;
    background-color: red !important;
}

.mark-bomb {
    background-repeat: no-repeat;
    background-image: url('minesprite.png');
    background-position: -59px 0;
}

.mark-question {
    background-repeat: no-repeat;
    background-image: url('minesprite.png');
    background-position: -78px 0;
}

.m1 { color: #0001FE; }
.m2 { color: #008000; }
.m3 { color: #FE0000; }
.m4 { color: #00007F; }
.m5 { color: #800000; }
.m6 { color: #007F7E; }
.m7 { color: #000000; }
.m8 { color: #808080; }
