html {
    background-color: green !important;
}

.ms-container {
    display: inline-block;
    background: #BDBDBD;
    border-bottom: solid 2px #707070;
    border-right: solid 2px #707070;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
    border-radius: 3px;
    padding: 10px;
    margin-left: 20px;
}

.ms-table {
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    border-top: solid 2px #7b7b7b;
    border-left: solid 2px #7b7b7b;
    border-radius: 2px;
    display: table;
}

.ms-board {
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    border-top: solid 2px #7b7b7b;
    border-left: solid 2px #7b7b7b;
    margin-bottom: 10px;
    border-radius: 2px;
    height: 50px;
}

.ms-cell {
    width: 24px;
    height: 24px;
    display: table-cell;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
}

.ms-row {
}

.closed {
    border-bottom: solid 2px #7b7b7b;
    border-right: solid 2px #7b7b7b;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
}

.open {
    border-left: solid 1px #7b7b7b;
    border-top: solid 1px #7b7b7b;
    border-bottom: 0;
    border-right: 0;
}